<div layout="column" layout-fill>

  <navbar>
    <md-button ng-click="main.newGist()" class="md-raised">
      New
    </md-button>
    <md-button ng-click="main.save()" class="md-raised">
      Save
    </md-button>
    <md-button ng-if="main.isForkeable()" ng-click="main.fork()" class="md-raised">
      Fork
    </md-button>
    <md-button ng-click="main.info($event)" class="md-raised">
      Info
    </md-button>
    <!--<md-button ng-click="main.share($event)" class="md-raised">
      Share
    </md-button>-->
  </navbar>

  <md-content class="fb">
    <md-tabs md-selected="0" class="md-primary techs" layout-align="space-around center">
      <md-tab id="tab1" label="HTML">
        <div ng-model="main.content.html"
             ui-ace="{
                useWrapMode : true,
                theme:'monokai',
                mode: 'html',
                require: ['ace/ext/language_tools'],
                advanced: {
                    enableSnippets: true,
                    enableBasicAutocompletion: true,
                    enableLiveAutocompletion: true
                }
             }"></div>
      </md-tab>
      <md-tab id="tab2" label="CSS">
        <div ng-model="main.content.css"
             ui-ace="{
              useWrapMode : true,
              theme:'monokai',
              mode: 'css',
              require: ['ace/ext/language_tools'],
              advanced: {
                  enableSnippets: true,
                  enableBasicAutocompletion: true,
                  enableLiveAutocompletion: true
              }
            }"></div>
      </md-tab>
      <md-tab id="tab3" label="JS">
        <div ng-model="main.content.js"
             ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
             ui-ace="{
              useWrapMode : true,
              theme:'monokai',
              mode: 'javascript',
              require: ['ace/ext/language_tools'],
              advanced: {
                  enableSnippets: true,
                  enableBasicAutocompletion: true,
                  enableLiveAutocompletion: true
              }
            }"></div>
      </md-tab>
    </md-tabs>
    <handle></handle>
    <preview id="preview" content="main.content"></preview>
  </md-content>
</div>
