<div layout="vertical" layout-fill>

  <navbar>
    <md-button ng-href="editor" class="md-raised">
      New
    </md-button>
    <md-button ng-if="main.Auth.isLogged()" ng-click="main.save()" class="md-raised">
      Save
    </md-button>

    <!-- fill up the space between left and right area -->
    <span flex></span>

    <a ng-if="!main.Auth.isLogged()" href="https://github.com/login/oauth/authorize?client_id=6e6377a2f4543ef05194&scope=user:email,user:follow,gist" class="btn-github">Log in with Github</a>

    <div ng-if="main.Auth.isLogged()" layout="row" layout-align="end center">
        <img ng-src="{{main.user.avatar_url}}" alt="{{main.user.name}}" class="face">
        <span>{{main.user.name}}</span>
    </div>
  </navbar>

  <md-content>
    <div class="techs" layout-align="space-around center">
      <md-content flex="33">
        <div ng-model="main.html" ng-change="main.change('html')" ui-ace="{
            useWrapMode : true,
            theme:'monokai',
            mode: 'html',
            require: ['ace/ext/language_tools'],
            advanced: {
                enableSnippets: true,
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true
            }
          }"></div>
          <md-button class="md-accent md-fab md-fab-top-right" ng-disabled="true">HTML</md-button>
      </md-content>
      <md-content flex="33">
        <div ng-model="main.css" ng-change="main.change('css')" ui-ace="{
            useWrapMode : true,
            theme:'monokai',
            mode: 'css',
            require: ['ace/ext/language_tools'],
            advanced: {
                enableSnippets: true,
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true
            }
          }"></div>
        <md-button class="md-accent md-fab md-fab-top-right" ng-disabled="true">CSS</md-button>
      </md-content>
      <md-content flex="33"><div ng-model="main.js" ng-change="main.change('js')" ui-ace="{
            useWrapMode : true,
            theme:'monokai',
            mode: 'javascript',
            require: ['ace/ext/language_tools'],
            advanced: {
                enableSnippets: true,
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true
            }
          }"></div>
        <md-button class="md-accent md-fab md-fab-top-right" ng-disabled="true">JS</md-button>
      </md-content>
    </div>

    <iframe id="preview"></iframe>
  </md-content>
</div>
