@import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

*
  box-sizing border-box

html
  font-family 'Roboto Slab', serif

a {
  text-decoration: none;
  color: #202020;

  &:hover, &.md-button:hover {
    color: rgb(255,64,129)
  }
}

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

md-toolbar
  &.md-default-theme
    background-color black
  .md-toolbar-tools > div
    margin-left: 20px
  .md-button.md-default-theme.md-raised {
    color: rgba(255,255,255,0.87);
    background-color: rgba(255,255,255,.15);

    &:not([disabled]){
      &:hover {
        background-color: rgba(255,255,255,.25);
      }
    }
  }

.techs
  flex:0.5;
  &.md-default-theme md-tab
    color: #999
  .md-header
    background-color: #202020 !important
    border-bottom: 1px solid rgb(255,64,129)
// injector
// endinjector

navbar md-toolbar.md-default-theme {
  border-bottom: 1px solid #202020;
}

.ace_editor {
  height: calc(100vh - 113px);
  margin:0;
}

.preview {
  flex:0.5;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  iframe {
    border: 0;
    width: 100%;
    height: calc(100vh - 65px);
    display: block
  }
}

.drag-cover {
  position: absolute;
  z-index: 201;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.btn-github {
  background-position: 9px 8px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 45px;
  text-align: center;
  text-decoration: none;
  width: 206.390625px;
  background: rgb(102, 102, 102) url(../assets/images/octocat.png) no-repeat scroll 9px 8px / 41px padding-box border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px 5px 5px;
  font: 14.3999996185303px/20.1599998474121px 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
  padding: 12px 16px 12px 58px;

  &:hover {
    background: rgb(255, 255, 255) url(../assets/images/octocat.png) no-repeat scroll 9px -61px / 41px padding-box border-box;
    background-position: 9px -61px;
    color: rgb(0, 0, 0);
  }
}

.face {
  width: 48px;
  margin: 0 16px 0 0;
  border-radius: 50%;
  border: 2px solid #ddd;

  a:hover & {
    border-color: rgb(255,64,129)
  }

  &.face-2x {
    width: 96px;
  }

  + span {
    font-size: .75em;
  }
}

.md-button + .md-button{
  margin-left: 10px;
}

.handle {
    height: calc(100vh - 65px);
    width: 16px;
    border-right: 1px solid #202020;
    background: #272727;
    border-left: 1px solid #202020;
    cursor: col-resize;
    transition: all ease-in 0.1s;
}


.fb{
  position:absolute;
  background:black;
  width:100%;
  height:calc(100vh - 65px);
  display: flex;
}

.md-dialog-container > md-dialog > md-content {
  width: 500px;
}

.loginPage {
  height: 100vh;
}

md-grid-tile h3 {
  margin: 0;
}
