@import url("http://fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

*
  box-sizing border-box

html
  font-family 'Roboto Slab', serif

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px
  img
    &.pull-right
      width 50px

md-toolbar
  &.md-default-theme
    background-color black

.techs
  display flex
  flex-flow row wrap
  md-card
    img
      &.pull-right
        float right
        width 50px
// injector
// endinjector

.ace_editor {
  min-height: 200px;
}

  #preview {
    width 90%;
    margin: 0 auto;
  }
