<div layout="column" layout-fill>

  <navbar>
    <md-button ng-href="/editor" class="md-raised">
      New
    </md-button>
  </navbar>

  <md-content layout-padding>
    <a ng-href="{{profile.user.html_url}}" layout="row" layout-align="space-around center">
      <img ng-src="{{profile.user.avatar_url}}" alt="{{profile.user.name}}" class="face face-2x">
      <div flex>
        <h1>{{profile.user.name}}</h1>
        <span>{{profile.user.bio}}</span>
      </div>
    </a>
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
      <md-grid-list md-cols-sm="1" md-cols-md="4" md-cols-gt-md="8"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="36px" md-gutter-gt-sm="20px" flex ng-if="profile.gists.length > 0">
        <md-grid-tile md-rowspan="1" md-colspan="2" ng-repeat="gist in profile.gists" layout="row">
          <div>
            <a ng-href="/editor/{{gist.id}}">
              <h3>{{gist.description}}</h3>
              <small>last update in {{gist.updated_at | amDateFormat:'MMMM Do YYYY, h:mm a'}}</small>
            </a>
            <p>
              <md-button md-no-ink ng-click="profile.remove(gist.id)" class="md-warn">
                Delete
              </md-button>
            </p>
          </div>
        </md-grid-tile>
      </md-grid-list>
      <h2 ng-if="profile.gists.length === 0" class="md-display-1">No Gists yet.</h2>
    </md-whiteframe>
  </md-content>
</div>
